parameters:
    secret: OTg3ZjliNmFhZTcxOWIwZjIzMGJhNTI4N2YwMzllY2ZlYzBlZGY3OTg1YTI3MmU1
    satis_filename: "%kernel.project_dir%/satis.json"
    satis_log_path: "%kernel.project_dir%/var/satis"
    composer.home: "/config/.composer"
    github.secret: ~
    gitlab.secret: ~
    gitlab.auto_add_repo: false
    gitlab.auto_add_repo_type: ~
    gitlab.prefer_ssh_url_type: false
    gitea.secret: ~
    devops.secret: ~
    admin.auth: true
    admin.users:
    - name: admin
      password: adminss
      roles:
      - ROLE_ADMIN
